{% extends 'project.html' %}

{% block bare_content %}
    <div class="container-fluid">
        <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
            <div class="form-container">
                <h3 class="title">Вхід</h3>
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Ок</button>
                </form>
        </div>
     </div>

     </div>
{% endblock %}
