{% extends 'project.html' %}
{% block content %}
<!--===Context===-->
    <section>
        <div class="context">
            <h2>Оплата і доставка</h2>
            <h3>Замовлення</h3>
            <p>Мінімальне замовлення в Інтернет-магазині становить 300,00 грн. При замовленні від 300,00 до 1000,00
                грн. послугу доставки сплачує клієнт. При замовленні від 1000,00 грн. послуги доставки товару і
                повернення платежу безкоштовні. Для зручності покупців, Інтернет-магазин MAXUS приймає замовлення в
                режимі on-line цілодобово, без вихідних. Замовлення обробляються протягом 30 хвилин з 8:30 до 17:00
                в робочі дні. Замовлення, що надходять в неробочий час (в тому числі у вихідні та святкові дні)
                обробляються в найближчий робочий день до 11:00. Безпосередньо після обробки замовлення, його
                підтвердження і уточнення проводиться співробітником інтернет-магазину за телефоном, вказаним в
                замовленні. Після підтвердження замовлення він буде оперативно підготовлений до відправки і
                доставлений замовникові.</p>
            <h3>Доставка</h3>
            <p>
                 Всі замовлення, оформлені на сайті інтернет-магазину до 12:00, відправляються в день оформлення
                замовлення.Замовлення доставляються протягом 1-3 днів в залежності від регіону, в який відправляється
                товар. Документи, що підтверджують факт купівлі товару, направляються разом з товаром.
            </p>
            <h3>Оплата</h3>
            <p>Оплатити замовлення можливо в форматі «накладений платіж» при отриманні товару у відділенні
                Нової Пошти, так і у безготівковому форматі на підставі рахунку-фактури. Розрахунки, на підставі
                наданого Покупцю рахунку-фактуру, за допомогою платіжних/банківських карток, платіжних чеків, жетонів
                тощо не здійснюються.  Оплата замовлення в форматі «накладений платіж» може бути проведена при отриманні товару від перевізника. Комісія за накладений платіж оплачується клієнтом.  Оплата за безготівковим розрахунком здійснюється на підставі рахунку-фактури, яка доступна для юридичних та фізичних
                осіб. Для підтвердження замовлення покупцеві електронним листом направляється рахунок-фактура на
                оплату.Оплатити замовлення можливо в форматі «накладений платіж» при отриманні товару у відділенні
                Нової Пошти, так і у безготівковому форматі на підставі рахунку-фактури. Розрахунки, на підставі
                наданого Покупцю рахунку-фактуру, за допомогою платіжних/банківських карток, платіжних чеків,
                жетонів тощо не здійснюються. Оплата замовлення в форматі «накладений платіж» може бути проведена при
                отриманні товару від перевізника. Комісія за накладений платіж оплачується клієнтом. Оплата за
                безготівковим розрахунком здійснюється на підставі рахунку-фактури, яка доступна для юридичних та
                фізичних осіб. Для підтвердження замовлення покупцеві електронним листом направляється
                рахунок-фактура на оплату.</p>

        </div>
    </section>
{% endblock %}

