{% extends 'project.html' %}
{% block content %}
    <section>
        <div class="context">
            {% for swap in swap %}
            <h2>Обмін та повернення товару</h2>
            <p>
                {{ swap.desc }}
            </p>
            <h3>Повернення товару від покупця</h3>
            <p>Покупець має право повернути товар належної якості (чи обміняти його на інший), якщо дотримані наступні умови
                повернення товару:
                <ul>
                {% for item in conditions %}
                    <li>{{ item.cond }}</li>
                {% endfor %}
                </ul>
            </p>
                <p> {{ swap.cond_swap_goods}}
                </p>
            <h3>Повернення грошових коштів</h3>
            <p>
                {{ swap.cond_swap_money }}
                </p>
            {% endfor %}
        </div>
{% endblock %}