{% extends 'project.html' %}
{% block content %}
    <section>
        <div class="context">
            <h2>Обмін та повернення товару</h2>
            <p>
            Обмін і повернення товару регламентується Законом України «Про захист прав споживачів», згідно з яким покупець має
            право повернути товар продавцеві протягом 14 днів з дня покупки. У разі звернення клієнта з проханням про
            повернення або обмін товару, вийдіть з ним на зв'язок максимально швидко та уточніть причину повернення/обміну
            товару.
            </p>
            <h3>Повернення товару від покупця</h3>
            <p>Покупець має право повернути товар належної якості (чи обміняти його на інший), якщо дотримані наступні умови
                повернення товару:
                <ul>
                    <li>товар не належить до товарів, які не підлягають обміну та поверненню;</li>
                    <li>товар не використовувався, повністю укомплектований і не порушена цілісність пакування (відкрите упакування не
                    вважається пошкодженням товарного вигляду);</li>
                    <li>збережені заводські (гарантійні) пломби, ярлики та маркування;</li>
                    <li>пройшло менш як 14 днів з моменту отримання товару;</li>
                    <li>є в наявності розрахунковий документ і гарантійний талон.</li>
                </ul>
            </p>
                <p> Продавець має право відмовити у поверненні, якщо не дотриманні дані умови.
                    Для товарів неналежної якості діють інші норми Закону України «Про захист прав споживачів».
                    Для повернення товару, узгодьте з покупцем спосіб зворотної доставки товару. Запропонуйте покупцю
                    повернути товар у вашій точці видачі або попросіть його відправити товар за допомогою поштової служби та
                    надіслати вам номер ТТН. Доставлення товару відбувається коштом покупця, але якщо отриманий товар не
                    відповідав замовленню (інша модель і т.п.), тоді продавець повинен компенсувати клієнтові транспортні
                    витрати. Попередьте покупця про необхідність написати заяву про повернення товару, в якій мають бути
                    вказані причини повернення. Якщо товар відправляється в сервісний центр для усунення дефектів і клієнт не
                    вказав адресу для зворотної доставки ми рекомендуємо повертати товар на ту адресу, за якою клієнт
                    отримав товар першого разу. Вимоги покупця повинні бути задоволені відразу, а при необхідності перевірки
                    якості товару, який повертається — протягом 14 днів або за домовленістю з покупцем.
                </p>
            <h3>Повернення грошових коштів</h3>
            <p>
                    Повернення грошових коштів покупцю Згідно із законодавством, при поверненні товару розрахунки з покупцем проводяться виходячи
                    з вартості товару на момент покупки. За домовленістю з покупцем, ви також можете провести обмін на товар
                    за тією ж вартістю або з перерахунком ціни. Гроші за товар, оплачений карткою або за безготівковим
                    розрахунком, повинні бути повернуті тим самим способом платнику. Для цього через особистий кабінет
                    платіжної системи угоду потрібно скасувати і провести повернення коштів, або з розрахункового рахунку,
                    на підставі заяви покупця, повернути гроші на розрахунковий рахунок платника. При готівковій оплаті за
                    товар, повернення коштів відбувається зручним для покупця способом, вказаним ним в заяві. Якщо товар був
                    попередньо оплачений, але при отриманні покупець відмовився від товару в односторонньому порядку без
                    поважних причин, що призвело до додаткових витрат продавця (платне зберігання, зворотна доставка), тоді
                    повернення грошових коштів може бути проведене з вирахуванням суми додаткових витрат продавця.
                </p>
        </div>
{% endblock %}