{% extends 'project.html' %}
{% block content %}
<!--===Context===-->
    <section>
        <div class="context">
            <h2>Оплата і доставка</h2>
            {% for item in condition %}
                <h3>Замовлення</h3>
                    <p>{{ item.order }}</p>
                <h3>Доставка</h3>
                    <p>
                        {{ item.deliv }}
                    </p>
                <h3>Оплата</h3>
                    <p>{{ item.pay }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}

