{% extends 'project.html' %}
{% block bare_content %}
<section id="feedback">
    <div class="container">
        <div class="col-ad-10 col-ad-offset-1">
        <h3>Відгуки </h3>
            {% for item in feedback.reverse %}
                <div class="context">
                    <h2></h2>
                </div>
                <div class="row">
                    <div class="col-nd-6"><b>Ім'я:</b> {{ item.name }}</div>
                    <div class="col-nd-6"><b>Відгук:</b> {{ item.message }}</div>
                    <div class="col-nd-6"><b>Дата відгуку:</b> {{ item.date|date:"d.m.o, G:i"  }}</div>
                    <div class="col-nd-6"><b>Товар:</b> <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a></div>
                </div>
                <div class="col-nd-6">
                    <a href="{% url 'manager:update_feedback' pk=item.pk %}">
                        <button type="button" class="btn btn-primary">Приховати</button>
                    </a>
                </div><br>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}