{% extends 'project.html' %}
{% block bare_content %}
    <section id="reserved">
    <div class="container">
        <div class="col-ad-10 col-ad-offset-1">
            {% for order in order %}
                <div class="context">
                    <h2></h2>
                </div>
                <h3>Замовлення {{ order.pk }}</h3>
                <div class="row">
                    <div class="col-nd-3">{{ order.name }}</div>
                    <div class="col-nd-3">{{ order.last_name }}</div>
                    <div class="col-nd-3">{{ order.email }}</div>
                    <div class="col-nd-3">{{ order.phone }}</div>
                    <div class="col-nd-3">{{ order.city }}</div>
                    <div class="col-nd-3">{{ order.department }}</div>
                    <div class="col-nd-3">{{ order.pay_method }}</div>
                    <div class="col-nd-3">{{ order.created }}</div>
                    {% if order.paid %}
                        <div class="col-nd-3">Оплаченно</div>
                    {% else %}
                        <div class="col-nd-3">Очікує оплати</div>
                    {% endif %}
                </div>
                <div class="row">
                        <div class="col-lg-8">

                        <table class="table table-hover"  width="500px">
                          <thead>
                              <tr>
                                  <th>Назва товару</th>
                                  <th>Кількість</th>
                                  <th>Ціна</th>
                                  <th>Вартість</th>
                              </tr>
                            </thead>
                            <tbody>

                            {% for item in items %}
                                {% if item.order_id == order.pk %}
                              <tr>
                                  <td>
                                      {{ item.product.name }}
                                  </td>
                                  <td>
                                      {{ item.quantity }}
                                  </td>
                                  <td class="num">
                                      {{ item.price }}
                                  </td>
                                  <td class="num">
                                      {{ item.get_coast }}
                                  </td>
                              </tr>
                                {% endif %}
                            {% endfor %}


                                <tr class="total">
                                  <td>
                                      Всього
                                  </td>
                                  <td colspan="2">
                                  </td>
                                  <td class="num">
                                      {{ order.get_total_cost }}
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
                <div class="col-nd-3">
                    <a href="{% url 'manager:update_order' pk=order.pk %}">
                        <button type="button" class="btn btn-primary">Переглянуто</button>
                    </a>
                    <a href="{% url 'manager:paid_order' pk=order.pk %}">
                        <button type="button" class="btn btn-primary">Оплаченно</button>
                    </a>
                </div><br>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}